*{
    width: 100%;
    height: 100%;
margin: 0%;}
div.container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: [left] auto 30rem 20rem[right];
    grid-template-rows: 5rem 2rem auto 5rem;
    grid-template-areas: 
    "head head head"
    "nav nav nav"
    "mainbody panleft panright"
    "foot foot foot";

}
nav{
    background-color: blue;
    grid-area: nav;
   
}
header {
    background: rgb(0,0,0,0.2);
    grid-area: head;
}
footer{
    background: rgb(0,0,0,0.2);
    grid-area: foot;
}
main{
    background: rgb(0,0,0,0.3);
    grid-area: mainbody;
}
.canvas{
    background: rgb(0,0,0,0.5);
    grid-area: panleft;
}
.right-sidebar{
    background: rgb(0,0,0,0.1);
    grid-area: panright;
}

@media screen and (max-width: 80rem){
    
    div.container {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: [left] auto 30rem 20rem[right];
        grid-template-rows: 5rem 2rem auto 5rem 5rem;
        grid-template-areas: 
        "head head head"
        "nav nav nav"
        "mainbody mainbody panleft "
        "panright panright panright"
        "foot foot foot";
    
    }
    
}
@media screen and (max-width: 50rem){


    main{
        grid-column-start: left;
        grid-column-end: right;
        
    }
    .canvas{
        background: rgb(0,0,0,0.5);
        display: none;
    }
    .right-sidebar{
        background: rgb(0,0,0,0.5);
        display: none;
    }
    div.container {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: [left] auto auto auto[right];
        grid-template-rows: 5rem 2rem auto 5rem;
        grid-template-areas: 
        "head head head"
        "nav nav nav"
        "mainbody mainbody mainbody "
        "foot foot foot";
    
    }
}
@media screen and (max-width: 30rem){


    main{
        grid-column-start: left;
        grid-column-end: right;
        
    }
    .canvas{
        background: rgb(0,0,0,0.5);
        display: none;
    }
    .right-sidebar{
        background: rgb(0,0,0,0.5);
        display: none;
    }
    footer{
        background: rgb(0,0,0,0.2);
       display: none;
    }
    div.container {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: [left] auto auto auto[right];
        grid-template-rows: 5rem 2rem auto;
        grid-template-areas: 
        "head head head"
        "nav nav nav"
        "mainbody mainbody mainbody ";
    
    }

}