/*ei varmaan oikee harjoitus 2*/

body{background-color: rgb(33, 33, 33);
    margin: 0;
    
}

.b{display: flex;
    flex-direction: row;}
.a{
border: black solid;
border-radius: 50%;
}
nav{ 
     overflow: hidden;
    background-color:black;
    position: fixed; 
    top: 0; 
    width: 100%;
    
}

}
.section{
    display:flex;
    align-items: center;
}
.nav{
  display: inline;
  color: white;
  text-align: center;
  padding: 14px 150px;
}