body{
margin-left: 40px;
background-image:url(../harj/kuvat/gray.jpg);
background-size: 1800px;
color:white;}
h1{font-family:sans-serif}
p {font-family: 'Times New Roman', Times, serif}
li{font-family: Verdana, Geneva, Tahoma, sans-serif}
img{width: 220px; border: solid white 2px}
.internet{background-color: darkcyan; width: 200px;color:black}


