:root {
  --primary-colur:#3a405a;
  --secondary-colur:#F9DEC9
}
* {
  margin:0px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#body {
  background-image: url("../harj/kuvat/book-4.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  overflow: hidden;
  height: 100vh;
}
/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: var(--primary-colur);
  font-family: Arial;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 100px;
}
  
#lang{
  padding: 14px 0px;
  
}
/* Links inside the navbar */
.navbar a {
  order: 1;
  font-size: 16px;
  color: var(--secondary-colur);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  order:0 ;
  font-size: 16px;
  border: none;
  outline: none;
  color: var(--secondary-colur);
  padding: 14px 16px;
  background-color: inherit;
  font: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  text-decoration: underline;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--primary-colur);
  width: fit-content;
  left: 45%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 400px;
  padding: 20px;
  background-color: var(--primary-colur);
  height: fit-content;
  color: white;

}
.column p {
  font-size: 15px;
  padding: 10px;
}

/* Style links inside the columns */
.column a {
  float: none;
  color: var(--secondary-colur);
  padding: 5px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a background color on hover */
.column a:hover {
  background-color: #ddd;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#lukko {
  width: 15px;
}
header {
  color: white;
  display: flex;
  flex-direction: row;
  float: right;
  padding: 60px;
  font-size: 1.3em;
}
header h2 {
  padding: 0 50px;
}
#logo1 {
  padding: 50px;
}
#blue {
  color: whitesmoke;
  background-color: rgba(58, 64, 90, 0.9);
  font-size: 1.6em;
  padding: 50px;
  top: 500px;
  position: relative;
}

#kortit {
  display: flex;
  justify-content: space-around;
  top: 10;
  position: relative;
  padding: 40px;
  color: var(--primary-colur)
}

.kortti {
  background-color: white;
  display: flex;
  width: 450px;
  height: 700px;
  flex-direction: column;
  text-align: center;
  border: rgba(59, 58, 58, 0.233) solid;
  border-radius: 2%;
  margin: 1px;
}
.cardpic{
  height: 300px ;
}

.nappi{
  padding:10px;
  background-color: white;
  border-radius: 10px;
  width: 80%;
  padding: 20px;
  align-self: center;
  font-size: 1.2em;
}
.nappi:hover{
  background-color: rgba(58, 64, 90, 0.9);
}

.teksti{
  color: var(--primary-colur);
  font-size: 20px;
}

.box{
  flex-direction: column;
  text-align: left;
  padding: 15px;
}

#teksti1{
  display: flex;
  flex-direction: row;
  margin: auto;
}

#flip{
 float: right;
}
#vali{padding-bottom: 35px;}
footer{
  background-color: var(--primary-colur);
  color: var(--secondary-colur);
}
hr{
  border: 1px rgba(0, 0, 0, 0.377) solid;
  width: 1700px;
  position: relative;
  margin:auto
}
article{
  margin: 100px;
  color: var(--primary-colur);
  background-color: white;
}
table{
  margin:auto;
  padding: 100px;
  font-size: 20px;
}
tr{
  padding: 0px;
}
td{
  padding: 10px 200px
}
#some img{
position: relative;
left: 900px;
}
#tiedot{
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .navbar{
    padding: 0px;
    font-size: 0.9em;
  }
  body{
    background-color: rgb(153, 178, 221 );
  }
  .column {
    width: 100%;
    height: auto;
    float: none;
  }
  .dropdown-content {
    left: 0%
  }
  header{
    font-size: 2vw;
    padding: 0px;
  }
  #logo1{
    padding: 10px;
    height: 70px;
  }
  #blue{
    height: auto;
    padding: 5px;
    top: 24vh;
    font-size: 1.3em;
  }
  #kortit{
    top: 0px;
    flex-direction: column;
    padding: 10px;
  }
  .cardpic{height: 200px;}
  #flip{
    float: none;
  }
  hr{
    display: none;
  }
  #body{
    width:auto;
    height:100vh;
  }
  footer{
    width: 100%;
  }
  #some img{
    left: auto;
  }
  table{
    padding: 0px;
    font-size: 10px;
  }
  td{
    padding: 10px 20px
  }
  header{
    display: flex;
  }
  #teksti1{
    flex-direction: column;
    margin: 0px;
  }
 #tekstiflip{
   flex-direction: column;
 }
  article{
    margin: 0px;
  }
 
  .kortti{width: 100%;}
  #kuva{width: 100%;}
  #flip{width: 100%;}
 }