body{
    background: pink;
}
ul{
    align-self: center;
}
h2{ 
    border-bottom: black solid 2px;
}
.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-size: 5rem;

}
